@import "variaveis.css";
@import "padrao.css";

.label span{
  color: var(--cor4);
}

.linha{
  margin-bottom: 15px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.label{
  font-weight: bold;
}

.input{
  flex-grow: 1;
  border-radius: var(--border-radius);
  border: 1px solid var(--cor-neutra2);
  padding: var(--padding);
}

.linha:last-child{
  margin-bottom: 0;
}

