@import "variaveis.css";
*{
  font-family: sans-serif !important;
}
.wrapper{
  width: fit-content;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
  padding: 0 26px;  
}

.topo{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.titulo{
  font-size: 30px;
  font-weight: bold;
}

.obrigatorio{
  font-size: 14px;
  font-weight: bold;
}

.obrigatorio span{
  color: var(--cor4);
}

table{
  border: 2px solid var(--cor-neutra3);
  border-collapse:separate;
  border-radius: var(--border-radius);
}

th{
  padding: 5px;
  font-weight: bold;
  border-bottom: 2px solid var(--cor-neutra3);
}

th:not(:first-child){
  border-left: 2px solid var(--cor-neutra3);
}

td{
  padding: 10px;
}



tbody tr:nth-child(2n+1){
  background-color: var(--cor-neutra);
}
tbody tr:nth-child(2n){
  background-color: var(--cor-neutra2);
}

.botao{
  all: unset;
  text-align: center;
  cursor: pointer;
  background-color:  var(--cor1);
  border-radius: var(--border-radius);
  border: 1px solid var(--cor-neutra2);
  padding: var(--padding);
  font-weight: bold;
}

.botao:hover{
  color: #FFF;
  background-color: var(--cor2);
}

.botao:active{
  color: #FFF;
  background-color: var(--cor3);
}

.secundario{
  background-color:  var(--cor5);
}

.secundario:hover{
  background-color:  var(--cor4);
}

.secundario:active{
  background-color:  var(--cor6);
}

.erro{
  color: var(--cor4);
  font-weight: bold;
}

.sucesso{
  color: var(--cor3);
  font-weight: bold;
}

.voltar{
  all: unset;
  color: var(--cor3);
  font-weight: bold;
  cursor: pointer;
  border: 1px solid var(--cor3);
  width: fit-content;
  padding: var(--padding);
  border-radius: var(--border-radius);
  background-color: var(--cor-neutra);
}

.voltar:hover{
  background-color: var(--cor-neutra2);
}

.voltar:active{
  background-color: var(--cor-neutra3);
  color: #FFF;
}