*{
  --cor1:  #99c2ff;
  --cor2:  #0066ff;
  --cor3: #002966;
  --cor4: #e60000;
  --cor-neutra: #FAFAFA;
  --cor-neutra2: #CECECE;
  --cor-neutra3: #585858;
  --border-radius: 5px;
  --padding: 5px 10px;
}